*{
	margin: 0;
	padding: 0;
}

body{
	background-color: black;
	color: white;
}

.header{
	height: 100vh;

}

.navbar-style{
	box-shadow: 0 5px 10px #66e0ff;
}

.logo{
	height: 50px;
	padding:2px 10px;
	
}

.icon-bar{
	background:white;
}

li a{
	color:white;
}

h3{
	color:blue;
}

.table {
   display: block !important;
}

#gh{
	background-color: black;
}

#ijk{
	float: right;
}

#cases{
	color: red;
	font-weight: bold;
}

#acases{
	color:white;
	font-weight: bold;
}

#recovered{
	color:white;
	font-weight: bold;
}

#deaths{
	color:white;
	font-weight: bold;
}


table th{
	color:royalblue;
	font-weight: bold;
}